[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
openpyxl = "==3.1.0"  # bug in versions 3.1.1 and 3.1.2
psycopg2 = {version = "*", platform_system  = "!= 'Linux'"}
psycopg2-binary = { version = "*", platform_system  = "=='Linux'" }
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.11"
